:root{
    --PRIMARY-COLOR: #8CAEF0;
    --SECONDARY-COLOR: #265778;
    --TERTIARY-COLOR: #A7D3C2;
    --DETAIL-PRIMARY-COLOR: #7BD3B1;
    --DETAIL-SECONDARY-COLOR: #A0AAB5;
    --BLACK: #0F0F0F;
    --WHITE: #E0DFFE;


    --TESTE: #f50505;
}