@import url("./colors.css");
@import url("./reset.css");

body{
    height: 91.25vh;
}
.btn-scroll{
    width: 1vw;
    background-color: var(--TERTIARY-COLOR);
}

.btn-scroll:hover, .btn-scroll:active{
    width: 1vw;
    background-color: var(--DETAIL-PRIMARY-COLOR) !important;
}

.btn-scroll:active{
    opacity: 80%;
}

#content-dias{
    min-width: 50px;
}

#content-dias td{
    font-size: 20pt;
}

.move-to-left{
    transform: translateX(2rem);
}

#month, #year{
    color: var(--WHITE);
    font-size: 18pt;
    text-shadow: 0.5px 0.5px 1px var(--BLACK);
}